body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_deep_field_smacs0723-5mb.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.sub-titulo {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.carl-sagan {
  padding: 30px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}